body {
    background-color: black;
    color: whitesmoke;
}

.img-carousel {
    height: 100%;
}

.contenedor-img {
    height: 300px;
}

#contenedor-adopcion {
    display: flex;
    flex-wrap: wrap;
}

#contenedor-carousel {
    display: grid;
}

@media (width >=700px) {
    #carouselExample {
        width: 40vw;
    }

    #contenedor-carousel {
        justify-content: center;
    }

    h1 {
        color: red;
    }
}